.container-fluid.main-stream-publisher
  .pull-left.hidden-xs
    = owner_image_link
  = render "publisher/publisher", publisher_aspects_for(stream)

- if current_user.getting_started?
  .stream#main_stream{:title => popover_with_close_html("3. #{t('.stay_updated')}"),
    "data-content" => t(".stay_updated_explanation")}
- else
  .stream#main_stream

#paginate
  .loader.hidden
    .spinner

- if current_user.contacts.size < 2
  = render 'aspects/no_contacts_message'
