#no_contacts.empty_message
  %p.lead
    = t(".you_should_add_some_more_contacts")

  %p
    != t(".try_adding_some_more_contacts",
         invite_link: link_to(t(".invite_link_text"),
                                "#",
                                class: "invitations-link",
                                data: {toggle: "modal"}))

  - if AppConfig.settings.community_spotlight.enable?
    != t(".or_spotlight", link: link_to(t(".community_spotlight"), community_spotlight_path))
