.profile-photo-upload#profile_photo_upload
  = owner_image_tag(:thumb_large)
  .small-horizontal-spacer
  .clearfix
    .text-center
      #file-upload.btn.btn-primary
        =t('.upload')

  = image_tag('mobile-spinner.gif', :class => 'hidden', :style => "z-index:-1", :id => 'file-upload-spinner')

  %p
    #fileInfo
