<div class='faq_getting_help'>
<h1>E-learn Portal</h1>
<br>
<div class='question opened'>
  <h4>{{{ getting_started_q }}}</h4>
  <div class='answer'>
    {{{ getting_started_a }}}
    </div>
</div>
<div class='question opened'>
  <h4>{{{ get_support_q }}}</h4>
  <div class='answer'>
    <ul>
     
     
      <li>{{{ get_support_a_hashtag }}}</li>
    </ul>
  </div>
</div>
</div>
